HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!src/main/react/src/main/**/target/
!src/main/react/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/sonarlint
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Custom ###
logs
.jpb
node_modules
package-lock.json
node
run.sh
.idea/workspace.xml
.idea/dataSources
.idea/httpRequests
.env
