<?xml version="1.0" encoding="UTF-8"?>
<entity-mappings xmlns="https://jakarta.ee/xml/ns/persistence/orm"
                 version="3.0">

	<entity class="ule.chat.domain.Degree">
		<table name="degrees" schema="ule_chat" catalog=""/>
		<attributes>
			<id name="id">
				<column name="id" precision="-1"/>
			</id>
			<basic name="name">
				<column name="name"/>
			</basic>
		</attributes>
	</entity>
	<entity class="ule.chat.domain.File">
		<table name="files" schema="ule_chat" catalog=""/>
		<attributes>
			<id name="id">
				<column name="id" precision="-1"/>
			</id>
			<basic name="name">
				<column name="name"/>
			</basic>
			<basic name="dateUploaded">
				<column name="date_uploaded" precision="-1"/>
			</basic>
			<basic name="size">
				<column name="size" precision="-1"/>
			</basic>
			<basic name="path">
				<column name="path" nullable="false" length="400"/>
			</basic>
			<basic name="metadata">
				<column name="metadata" nullable="false" length="700"/>
			</basic>
			<basic name="type">
				<column name="type" length="10"/>
			</basic>
			<basic name="userId">
				<column name="user_id" precision="-1"/>
			</basic>
		</attributes>
	</entity>
	<entity class="ule.chat.domain.Session">
		<table name="sessions" schema="ule_chat" catalog=""/>
		<attributes>
			<id name="id">
				<column name="id" precision="-1"/>
			</id>
			<basic name="srcIp">
				<column name="src_ip" length="16"/>
			</basic>
			<basic name="dateStarted">
				<column name="date_started" precision="-1"/>
			</basic>
			<basic name="token">
				<column name="token" length="128"/>
			</basic>
			<basic name="userId">
				<column name="user_id" precision="-1"/>
			</basic>
		</attributes>
	</entity>
	<entity class="ule.chat.domain.StuSubj">
		<table name="stu_subj" schema="ule_chat" catalog=""/>
		<id-class class="ule.chat.domain.StuSubjPK"/>
		<attributes>
			<id name="subjectId">
				<column name="subject_id" precision="-1"/>
			</id>
			<id name="studentId">
				<column name="student_id" precision="-1"/>
			</id>
		</attributes>
	</entity>
	<entity class="ule.chat.domain.Subject">
		<table name="subjects" schema="ule_chat" catalog=""/>
		<attributes>
			<id name="id">
				<column name="id" precision="-1"/>
			</id>
			<basic name="name">
				<column name="name" length="30"/>
			</basic>
			<basic name="subjPeriod">
				<column name="subj_period" length="15"/>
			</basic>
			<basic name="type">
				<column name="type" length="50"/>
			</basic>
			<basic name="credits">
				<column name="credits" precision="-1"/>
			</basic>
			<basic name="grade">
				<column name="grade" precision="-1"/>
			</basic>
			<basic name="degreeId">
				<column name="degree_id" precision="-1"/>
			</basic>
		</attributes>
	</entity>
	<entity class="ule.chat.domain.TeaSubj">
		<table name="tea_subj" schema="ule_chat" catalog=""/>
		<id-class class="ule.chat.domain.TeaSubjPK"/>
		<attributes>
			<id name="subjectId">
				<column name="subject_id" precision="-1"/>
			</id>
			<id name="teacherId">
				<column name="teacher_id" precision="-1"/>
			</id>
		</attributes>
	</entity>
	<entity class="ule.chat.domain.User">
		<table name="users" schema="ule_chat" catalog=""/>
		<attributes>
			<id name="id">
				<column name="id" precision="-1"/>
			</id>
			<basic name="username">
				<column name="username" length="20"/>
			</basic>
			<basic name="password">
				<column name="password" length="126"/>
			</basic>
			<basic name="email">
				<column name="email" length="70"/>
			</basic>
			<basic name="fullName">
				<column name="full_name" length="100"/>
			</basic>
			<basic name="age">
				<column name="age" nullable="false" precision="-1"/>
			</basic>
			<basic name="birthdate">
				<column name="birthdate" nullable="false" precision="-1"/>
			</basic>
			<basic name="role">
				<column name="role" length="13"/>
			</basic>
			<basic name="blockUntil">
				<column name="block_until" nullable="false" precision="-1"/>
			</basic>
		</attributes>
	</entity>
</entity-mappings>
