<?xml version="1.0" encoding="UTF-8"?>
<entity-mappings xmlns="https://jakarta.ee/xml/ns/persistence/orm"
                 version="3.0">
	<entity class="rs.chat.domain.entity.Chat">
		<table name="chats" schema="rs_chat" catalog=""/>
		<attributes>
			<id name="id">
				<column name="id" precision="-1"/>
			</id>
			<basic name="name">
				<column name="name" length="100"/>
			</basic>
			<basic name="type">
				<column name="type" length="10"/>
			</basic>
			<basic name="s3Folder">
				<column name="s3_folder" nullable="false" length="300"/>
			</basic>
			<basic name="metadata">
				<column name="metadata" precision="-1"/>
			</basic>
		</attributes>
	</entity>
	<entity class="rs.chat.domain.entity.Degree">
		<table name="degrees" schema="rs_chat" catalog=""/>
		<attributes>
			<id name="id">
				<column name="id" precision="-1"/>
			</id>
			<basic name="name">
				<column name="name"/>
			</basic>
		</attributes>
	</entity>
	<entity class="rs.chat.domain.entity.File">
		<table name="files" schema="rs_chat" catalog=""/>
		<attributes>
			<id name="id">
				<column name="id" precision="-1"/>
			</id>
			<basic name="name">
				<column name="name"/>
			</basic>
			<basic name="dateUploaded">
				<column name="date_uploaded" precision="-1"/>
			</basic>
			<basic name="size">
				<column name="size" precision="-1"/>
			</basic>
			<basic name="path">
				<column name="path" nullable="false" length="400"/>
			</basic>
			<basic name="metadata">
				<column name="metadata" nullable="false" length="700"/>
			</basic>
			<basic name="type">
				<column name="type" length="10"/>
			</basic>
			<basic name="userId">
				<column name="user_id" precision="-1"/>
			</basic>
		</attributes>
	</entity>
	<entity class="rs.chat.domain.entity.Session">
		<table name="sessions" schema="rs_chat" catalog=""/>
		<attributes>
			<id name="id">
				<column name="id" precision="-1"/>
			</id>
			<basic name="srcIp">
				<column name="src_ip" length="32"/>
			</basic>
			<basic name="dateStarted">
				<column name="date_started" precision="-1"/>
			</basic>
			<basic name="accessToken">
				<column name="access_token" length="300"/>
			</basic>
			<basic name="refreshToken">
				<column name="refresh_token" length="300"/>
			</basic>
			<basic name="userId">
				<column name="user_id" precision="-1"/>
			</basic>
		</attributes>
	</entity>
	<entity class="rs.chat.domain.entity.StuSubj">
		<table name="stu_subj" schema="rs_chat" catalog=""/>
		<attributes>
			<embedded-id name="stuSubjPK"/>
		</attributes>
	</entity>
	<entity class="rs.chat.domain.entity.Subject">
		<table name="subjects" schema="rs_chat" catalog=""/>
		<attributes>
			<id name="id">
				<column name="id" precision="-1"/>
			</id>
			<basic name="name">
				<column name="name" length="30"/>
			</basic>
			<basic name="period">
				<column name="period" length="2"/>
			</basic>
			<basic name="type">
				<column name="type" length="2"/>
			</basic>
			<basic name="credits">
				<column name="credits" precision="-1"/>
			</basic>
			<basic name="grade">
				<column name="grade" precision="-1"/>
			</basic>
			<basic name="degreeId">
				<column name="degree_id" precision="-1"/>
			</basic>
		</attributes>
	</entity>
	<entity class="rs.chat.domain.entity.TeaSubj">
		<table name="tea_subj" schema="rs_chat" catalog=""/>
		<attributes>
			<embedded-id name="teaSubjPK"/>
		</attributes>
	</entity>
	<entity class="rs.chat.domain.entity.UserChat">
		<table name="user_chat" schema="rs_chat" catalog=""/>
		<attributes>
			<embedded-id name="userChatPK"/>
		</attributes>
	</entity>
	<entity class="rs.chat.domain.entity.User">
		<table name="users" schema="rs_chat" catalog=""/>
		<attributes>
			<id name="id">
				<column name="id" precision="-1"/>
			</id>
			<basic name="username">
				<column name="username" length="15"/>
			</basic>
			<basic name="password">
				<column name="password" length="126"/>
			</basic>
			<basic name="email">
				<column name="email" length="70"/>
			</basic>
			<basic name="fullName">
				<column name="full_name" length="100"/>
			</basic>
			<basic name="age">
				<column name="age" nullable="false" precision="-1"/>
			</basic>
			<basic name="birthdate">
				<column name="birthdate" nullable="false" precision="-1"/>
			</basic>
			<basic name="role">
				<column name="role" length="13"/>
			</basic>
			<basic name="blockUntil">
				<column name="block_until" nullable="false" precision="-1"/>
			</basic>
		</attributes>
	</entity>
	<entity class="rs.chat.domain.entity.Group">
		<table name="groups" schema="rs_chat" catalog=""/>
		<attributes>
			<id name="id">
				<column name="id" precision="-1"/>
			</id>
			<basic name="name">
				<column name="name" length="70"/>
			</basic>
		</attributes>
	</entity>
	<entity class="rs.chat.domain.entity.UserGroup">
		<table name="user_group" schema="rs_chat" catalog=""/>
		<attributes>
			<embedded-id name="userGroupPK"/>
		</attributes>
	</entity>
</entity-mappings>
