<?xml version="1.0" encoding="UTF-8"?>
<entity-mappings xmlns="https://jakarta.ee/xml/ns/persistence/orm"
                 version="3.0">
	<entity class="rs.chat.domain.entity.Chat">
		<table name="chats" schema="rs_chat"/>
		<attributes>
			<id name="id">
				<column name="id"/>
			</id>
			<basic name="name">
				<column name="name"/>
			</basic>
			<basic name="type">
				<column name="type"/>
			</basic>
			<basic name="s3Folder">
				<column name="s3_folder"/>
			</basic>
			<basic name="metadata">
				<column name="metadata"/>
			</basic>
			<basic name="invitationCode">
				<column name="invitation_code"/>
			</basic>
			<basic name="key">
				<column name="key"/>
			</basic>
		</attributes>
	</entity>
	<entity class="rs.chat.domain.entity.Degree">
		<table name="degrees" schema="rs_chat"/>
		<attributes>
			<id name="id">
				<column name="id"/>
			</id>
			<basic name="name">
				<column name="name"/>
			</basic>
		</attributes>
	</entity>
	<entity class="rs.chat.domain.entity.Emoji">
		<table name="emojis" schema="rs_chat"/>
		<attributes>
			<id name="id">
				<column name="id"/>
			</id>
			<basic name="name">
				<column name="name"/>
			</basic>
			<basic name="icon">
				<column name="icon"/>
			</basic>
			<basic name="unicode">
				<column name="unicode"/>
			</basic>
			<basic name="category">
				<column name="category"/>
			</basic>
			<basic name="subcategory">
				<column name="subcategory"/>
			</basic>
		</attributes>
	</entity>
	<entity class="rs.chat.domain.entity.File">
		<table name="files" schema="rs_chat"/>
		<attributes>
			<id name="id">
				<column name="id"/>
			</id>
			<basic name="name">
				<column name="name"/>
			</basic>
			<basic name="dateUploaded">
				<column name="date_uploaded"/>
			</basic>
			<basic name="size">
				<column name="size"/>
			</basic>
			<basic name="path">
				<column name="path"/>
			</basic>
			<basic name="metadata">
				<column name="metadata"/>
			</basic>
			<basic name="type">
				<column name="type"/>
			</basic>
			<basic name="userId">
				<column name="user_id"/>
			</basic>
		</attributes>
	</entity>
	<entity class="rs.chat.domain.entity.Session">
		<table name="sessions" schema="rs_chat"/>
		<attributes>
			<id name="id">
				<column name="id"/>
			</id>
			<basic name="srcIp">
				<column name="src_ip"/>
			</basic>
			<basic name="startDate">
				<column name="start_date"/>
			</basic>
			<basic name="endDate">
				<column name="end_date"/>
			</basic>
			<basic name="token">
				<column name="token"/>
			</basic>
			<basic name="userId">
				<column name="user_id"/>
			</basic>
		</attributes>
	</entity>
	<entity class="rs.chat.domain.entity.StuSubj">
		<table name="stu_subj" schema="rs_chat"/>
		<attributes>
			<embedded-id name="stuSubjPK"/>
		</attributes>
	</entity>
	<entity class="rs.chat.domain.entity.Subject">
		<table name="subjects" schema="rs_chat"/>
		<attributes>
			<id name="id">
				<column name="id"/>
			</id>
			<basic name="name">
				<column name="name"/>
			</basic>
			<basic name="period">
				<column name="period"/>
			</basic>
			<basic name="type">
				<column name="type"/>
			</basic>
			<basic name="credits">
				<column name="credits"/>
			</basic>
			<basic name="grade">
				<column name="grade"/>
			</basic>
			<basic name="degreeId">
				<column name="degree_id"/>
			</basic>
		</attributes>
	</entity>
	<entity class="rs.chat.domain.entity.TeaSubj">
		<table name="tea_subj" schema="rs_chat"/>
		<attributes>
			<embedded-id name="teaSubjPK"/>
		</attributes>
	</entity>
	<entity class="rs.chat.domain.entity.UserChat">
		<table name="user_chat" schema="rs_chat"/>
		<attributes>
			<embedded-id name="userChatPK"/>
		</attributes>
	</entity>
	<entity class="rs.chat.domain.entity.User">
		<table name="users" schema="rs_chat"/>
		<attributes>
			<id name="id">
				<column name="id"/>
			</id>
			<basic name="username">
				<column name="username"/>
			</basic>
			<basic name="password">
				<column name="password"/>
			</basic>
			<basic name="email">
				<column name="email"/>
			</basic>
			<basic name="fullName">
				<column name="full_name"/>
			</basic>
			<basic name="age">
				<column name="age"/>
			</basic>
			<basic name="birthdate">
				<column name="birthdate"/>
			</basic>
			<basic name="role">
				<column name="role"/>
			</basic>
			<basic name="blockUntil">
				<column name="block_until"/>
			</basic>
			<basic name="passwordCode">
				<column name="password_code"/>
			</basic>
		</attributes>
	</entity>
	<entity class="rs.chat.domain.entity.Group">
		<table name="groups" schema="rs_chat"/>
		<attributes>
			<id name="id">
				<column name="id" precision="-1"/>
			</id>
			<basic name="name">
				<column name="name" length="70"/>
			</basic>
		</attributes>
	</entity>
	<entity class="rs.chat.domain.entity.UserGroup">
		<table name="user_group" schema="rs_chat"/>
		<attributes>
			<embedded-id name="userGroupPK"/>
		</attributes>
	</entity>
</entity-mappings>
